.contenedorPrincipal {
  display: inline-block;
  position: relative;
  min-width: 257px;
}

.checkBox1 {
  top: 101px;
  left: 54px;
  position: absolute;
  display: inline-block;
  z-index: 99px;
}
.checkBox2 {
  top: 101px;
  left: 54px;
  position: absolute;
  display: inline-block;
  z-index: 99px;
}
.checkBox3 {
  top: 101px;
  left: 54px;
  position: absolute;
  display: inline-block;
  z-index: 99px;
}
.checkBox4 {
  top: 101px;
  left: 54px;
  position: absolute;
  display: inline-block;
  z-index: 99px;
}
.checkBox5 {
  top: 101px;
  left: 54px;
  position: absolute;
  display: inline-block;
  z-index: 99px;
}
.checkBox6 {
  top: 101px;
  left: 54px;
  position: absolute;
  display: inline-block;
  z-index: 99px;
}
.checkBox7 {
  top: 101px;
  left: 54px;
  position: absolute;
  display: inline-block;
  z-index: 99px;
}
.checkBox8 {
  top: 101px;
  left: 54px;
  position: absolute;
  display: inline-block;
  z-index: 99px;
}
.checkBox9 {
  top: 101px;
  left: 54px;
  position: absolute;
  display: inline-block;
  z-index: 99px;
}
.checkBox10 {
  top: 101px;
  left: 54px;
  position: absolute;
  display: inline-block;
  z-index: 99px;
}
.checkBox11 {
  top: 101px;
  left: 54px;
  position: absolute;
  display: inline-block;
  z-index: 99px;
}
.checkBox12 {
  top: 101px;
  left: 54px;
  position: absolute;
  display: inline-block;
  z-index: 99px;
}
.checkBox13 {
  top: 101px;
  left: 54px;
  position: absolute;
  display: inline-block;
  z-index: 99px;
}
.checkBox14 {
  top: 101px;
  left: 54px;
  position: absolute;
  display: inline-block;
  z-index: 99px;
}

/*apartir de aca ok, ahora zi*/
.checkBox15 {
  top: 101px;
  left: 54px;
  position: absolute;
  display: inline-block;
  z-index: 99px;
}
.checkBox16 {
  top: 101px;
  left: 54px;
  position: absolute;
  display: inline-block;
  z-index: 99px;
}

.checkBox17 {
  top: 101px;
  left: 54px;
  position: absolute;
  display: inline-block;
  z-index: 99px;
}

.checkBox18 {
  top: 101px;
  left: 54px;
  position: absolute;
  display: inline-block;
  z-index: 99px;
}

.checkBox19 {
  top: 101px;
  left: 54px;
  position: absolute;
  display: inline-block;
  z-index: 99px;
}

.checkBox20 {
  top: 101px;
  left: 54px;
  position: absolute;
  display: inline-block;
  z-index: 99px;
}

.checkBox21 {
  top: 101px;
  left: 54px;
  position: absolute;
  display: inline-block;
  z-index: 99px;
}

.checkBox22 {
  top: 101px;
  left: 54px;
  position: absolute;
  display: inline-block;
  z-index: 99px;
}

.checkBox23 {
  top: 101px;
  left: 54px;
  position: absolute;
  display: inline-block;
  z-index: 99px;
}

.checkBox24 {
  top: 101px;
  left: 54px;
  position: absolute;
  display: inline-block;
  z-index: 99px;
}

.checkBox25 {
  top: 101px;
  left: 54px;
  position: absolute;
  display: inline-block;
  z-index: 99px;
}

.checkBox26 {
  top: 101px;
  left: 54px;
  position: absolute;
  display: inline-block;
  z-index: 99px;
}

.checkBox27 {
  top: 101px;
  left: 54px;
  position: absolute;
  display: inline-block;
  z-index: 99px;
}

.checkBox28 {
  top: 101px;
  left: 54px;
  position: absolute;
  display: inline-block;
  z-index: 99px;
}
